<!DOCTYPE html>
<html lang="en">
<head>
    <title>Venerity</title>
    <link rel="stylesheet" href="/resource/landing.css">
    <link rel="shortcut icon" type="image/webp" href="https://cdn.discordapp.com/emojis/1061526156454666280.webp?size=96&quality=lossless"/>
</head>
<body>
    <h1>Venerity</h1>
    <a class="btn blurple" id="login-link" href="https://discord.com/api/oauth2/authorize?client_id=1045324859586125905&redirect_uri=https%3A%2F%2Fapi.venerity.xyz%2Foauth&response_type=code&scope=identify%20role_connections.write%20connections">Login with Discord</a>
</body></html>