<!DOCTYPE html>
<html lang="en">
<head>
    <title>Venerity</title>
    <link rel="shortcut icon" type="image/webp" href="https://cdn.discordapp.com/emojis/1061526156454666280.webp?size=96&quality=lossless"/>
    <style>
        body {
            background-color: #030303;
        }
    </style>
</head>
<body>
    <p>Logged out, redirecting...</p>
    <script>
    setTimeout(()=>{
        window.location = "/";
    },2000);
    </script>
</body></html>